
<div>
    <form action=""  method="post" class="col-4 ms-5 mt-3" >
        <div class="row">
            <input type="text" ngModel="" required minlength="3" class="form-control" placeholder="menu title" name="title" id="">
        </div>
        <div class="row">
            <input type="number" required   placeholder="menu price" class="form-control" name="price" id=""> 
        </div>
        <div class="row ">
            <input type="number" required     placeholder="menu inventory number" class="form-control" name="inventory" id="">
        </div>
        <div class="row">
            <button class="btn btn-control bg-dark text-white" >Add Menu</button>
        </div>    
    </form>
</div>
