
<div>
    <form action=""  method="post" class="col-4 ms-5 mt-3" >
        <div class="row">
            <input type="text" [(ngModel)]="menu_items.title"  required minlength="3" class="form-control"  name="title" id="">
        </div>
        <div class="row">
            <input type="number" required [(ngModel)]="menu_items.price" class="form-control" name="price" id=""> 
        </div>
        <div class="row ">
            <input type="number" required [(ngModel)]="menu_items.inventory" class="form-control" name="inventory" id="">
        </div>
        <div class="row">
            <button class="btn btn-control bg-dark text-white" (click)="updateMenuItem()" >Modify</button>
        </div>    
    </form>
</div>
