<section class="row">
    <h1>Add Menu {{menu.title}}</h1>

    <div class="col-3">
        <input type="text" [(ngModel)]="menu.title" minlength="3" class="form-control" placeholder="menu_title" name="menu_title" id="">
    </div>
    <div class="col-3">
        <input type="number"  [(ngModel)]="menu.menu_price" placeholder="menu price" class="form-control" name="menu_price" id=""> 
    </div>
    <div class="col-3 ">
        <input type="number"  [(ngModel)]="menu.inventory_code" placeholder="menu inventory number" class="form-control" name="menu_inventory" id="">
    </div>
    <div class="col-3">
        <button class="btn btn-control bg-dark text-white" (click)="addMenu()">Add Menu</button>
    </div>
</section>

